.root {
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid var(--mat-sys-primary);
    background-color: #b1cff1;
    padding: 0.2rem 1rem;
    gap: 1rem;
}
.window-mode {
    height: 100%;
}
.buttons {
    right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
