#toolbar {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid var(--mat-sys-primary);
    background-color: #b1cff1;
}

#app-name-wrapper {
    display: flex;
    align-items: center;
}
#app-name {
    font-weight: bold;
    font-size: 2rem;
    color: var(--mat-sys-primary);
}

#nav {
    display: flex;
    gap: 8px;
}

html,
body {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}
