<div class="everything">
  <div class="toolbar">
    <mat-form-field appearance="outline" id="searchbar">
      <input
        id="search-input"
        matInput
        placeholder="Search documents"
        [(ngModel)]="searchTerm"
      />
    </mat-form-field>
    <app-loading-button
      [clickAction]="search"
      label="Search"
      icon="search"
    ></app-loading-button>
    <app-loading-button
      id="new-button"
      [clickAction]="openNewDoc"
      [colorTheme]="'primary'"
      label="New"
      icon="add"
    ></app-loading-button>
  </div>

  <mat-grid-list class="grid-container" cols="7" rowHeight="3:4">
    <ng-container *ngIf="documents.length > 0; else noResult">
      <mat-grid-tile *ngFor="let doc of documents" class="doc-tile">
        <mat-card class="doc">
          <div class="title-container">
            <h3>{{ doc.title }}</h3>
          </div>
          <ng-container *ngIf="doc.orgName">
            <div class="org-container">
              <mat-icon>group</mat-icon>
              <p>{{ doc.orgName }}</p>
            </div>
          </ng-container>
          <div class="org-container">
            <mat-icon>person</mat-icon>
            <p>{{ doc.creator }}</p>
          </div>
          <div class="access">
            <app-loading-button
              [icon]="isEditor(doc.access) ? 'edit_note' : 'visibility'"
              [clickAction]="getOpenDoc(doc.docID)"
            ></app-loading-button>
          </div>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
    <ng-template #noResult>
      <h1 class="no-results">No results found!</h1>
    </ng-template>
  </mat-grid-list>
</div>

<div *ngIf="newWindowOpen" id="new-doc-form-container">
  <form [formGroup]="newDocForm" id="new-doc-form">
    <div class="close-button-container">
      <app-loading-button
        [clickAction]="closeNewDoc"
        icon="close"
      ></app-loading-button>
    </div>
    <h3>Create New Document</h3>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error
        *ngFor="let error of valid.getControlErrors(newDocForm, 'title')"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Public Access</mat-label>
      <mat-select formControlName="publicAccess">
        <mat-option *ngFor="let access of accessOptions" [value]="access.value">
          {{ access.label }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngFor="let error of valid.getControlErrors(newDocForm, 'publicAccess')"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Org</mat-label>
      <mat-select formControlName="orgID">
        <mat-option *ngFor="let org of orgOptions" [value]="org.orgID">
          {{ org.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngFor="let error of valid.getControlErrors(newDocForm, 'orgID')"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Org Access</mat-label>
      <mat-select formControlName="orgAccess">
        <mat-option *ngFor="let access of accessOptions" [value]="access.value">
          {{ access.label }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngFor="let error of valid.getControlErrors(newDocForm, 'orgAccess')"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <app-loading-button
      label="Create"
      icon="add"
      [externalDisabled]="newDocForm.invalid"
      [clickAction]="createDoc"
    ></app-loading-button>
  </form>
</div>
