<ng-container *ngIf="icon && label; else onlyIconOrLabel">
  <button
    mat-fab extended
    [type]="buttonType"
    [color]="colorTheme"
    [disabled]="disabled"
    (click)="onClick()"
  >
    <mat-spinner
      *ngIf="isLoading"
      diameter="20"
      style="margin-right: 8px"
    ></mat-spinner>
    <mat-icon *ngIf="!isLoading" style="margin-right: 4px">{{ icon }}</mat-icon>
    {{ label }}
  </button>
</ng-container>

<ng-template #onlyIconOrLabel>
  <button
    *ngIf="icon && !label"
    mat-mini-fab
    [color]="colorTheme"
    [disabled]="disabled"
    (click)="onClick()"
  >
    <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
    <mat-icon *ngIf="!isLoading">{{ icon }}</mat-icon>
  </button>

  <button
    *ngIf="label && !icon"
    mat-raised-button
    [type]="buttonType"
    [color]="colorTheme"
    [disabled]="disabled"
    (click)="onClick()"
  >
    <mat-spinner
      *ngIf="isLoading"
      diameter="20"
      style="margin-right: 8px"
    ></mat-spinner>
    {{ label }}
  </button>
</ng-template>
